main {
  width: 480px;
  height: 1055px;
  margin: auto;
  display: grid;
  grid-template-columns: 50% 50%;
}

div {
 text-align: center;
 border: 1px solid black;
}

#a {
  grid-column: 1 / span 2;
  background-color: lightcoral;
}

#b {
  background-color: lightcyan;
  grid-column: 1 / span 2;
}

#c{
  background-color: lightgoldenrodyellow;
  grid-column: 1 / span 2;
}

#d{
  background-color: lightgray;
  grid-column: 1 / span 2;
}


#e{
  background-color: lightgreen;
}

#f{
  background-color: lightpink;

}
#g{
 background-color: lightskyblue;
}
#h{
  background-color: lightseagreen;
}

#i{
  clear: both;
  background-color: lightsalmon;
  grid-column: 1 / span 2;
}


@media( min-width:767px){
  main {
    width: 960px;
    height: 700px;
    margin: auto;
    display:grid;
    grid-template-columns: 20fr 19fr 19fr 19fr 19fr;
    grid-template-rows: 10fr 20fr 25fr 15fr;
  }

  #a {
    grid-column: 1 / 6;
    grid-row: 1 / 2;
    background-color: #ff8c00;
  }

  #b {
    grid-column: 1 / 2;
    grid-row: 2 / 4;
    background-color: #fe5a1d;

  }

  #c{
    grid-column: 2 / 4;
    background-color: #ff4f00;
  }

  #d{
    grid-column: 4 / 6;
    background-color: #ff0500;
  }

  #e{
    background-color: #fdbcb4;
  }

  #f {
    background-color: #fed8b1;
  }

  #g {
    background-color: #ec5800
  }

  #h {
    background-color: #e34234;
  }

  #i {
    grid-column: 1 / 6;
    grid-row: 4 / 5;
    background-color: #f88379;
  }

}

@media (min-width: 1200px) and (max-height: 500px){
  main {
    width: 1200px;
    height: 450px;
    margin: auto;
    display:grid;
    grid-template-columns: 20fr 19fr 19fr 19fr 19fr;
    grid-template-rows: 10fr 20fr 25fr 15fr;
  }

  #a {
    grid-column: 1 / 6;
    grid-row: 1 / 2;
    background-color: #66CD00;
  }

  #b {
    grid-column: 1 / 2;
    grid-row: 2 / 4;
    background-color: #458B00;

  }

  #c{
    grid-column: 2 / 4;
    background-color: #3B5323;;
  }

  #d{
    grid-column: 4 / 6;
    background-color: #78AB46;
  }

  #e{
    background-color: #608341;
  }

  #f {
    background-color: #BCED91;
  }

  #g {
    background-color: #397D02
  }

  #h {
    background-color: #687E5A;
  }

  #i {
    grid-column: 1 / 6;
    grid-row: 4 / 5;
    background-color: #4Cbb17;
  }


}
