main, section {
  width: 480px;
}

div {
 text-align: center;
 border: 1px solid black;
}

#a {
  height: 75px;
  background-color: lightcoral;
}

#b {
  height: 150px;
  background-color: lightcyan;
}

#c{
  height: 125px;
  background-color: lightgoldenrodyellow;
}

#d{
  height: 125px;
  background-color: lightgray
}

/* .efgh{
  height:250px;
  width:240px;
} */

#e{
  height: 250px;
  width: 240px;
  float: left;
  background-color: lightgreen;
}
#f{
  height: 250px;
  width: 240px;
  float:right;
  background-color: lightpink
}
#g{
  height: 250px;
  width: 240px;
  float: left;
  background-color: lightskyblue
}
#h{
  height: 250px;
  width: 240px;
  float: right;
  background-color: lightseagreen
}

#i{
  clear: both;
  height:80px;
  background-color: lightsalmon;
}

@media( min-width:767px){
  main, section {
    width: 960px;
  }

  #a {
    height: 100px;
  }

  #b {
    height: 600px;
    width: 200px;
    position: fixed;
  }

  #c{
    height: 200px;
    width: 380px;
    float: left;
    margin-left:200px;

  }

  #d{
    height: 200px;
    width: 380px;
    float: right;
  }

  #efgh div{
    width: 190px;
    height: 250px;
    display: inline-block;
  }

  #e{
    margin-left: 200px
  }

  #f {
    float: left;
  }

  #i {
    width: 760px;
    height: 150px;
    margin-left: 200px
  }

}



